<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Results</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Glucosamine</ion-card-title>
   
  </ion-card-header>

  <ion-card-subtitle> Information</ion-card-subtitle>
  <ion-card-content>
    Glucosamine is sugar protein that helps your body build cartilage 
    (the hard connective tissue located mainly on the bones near your joints). 
    Glucosamine is a naturally occurring substance found in bones, bone marrow, 
    shellfish and fungus. Glucosamine has been used in alternative medicine as an 
    aid to relieving joint pain, swelling, and stiffness caused by arthritis. Not all 
    uses for glucosamine have been approved by the FDA. Glucosamine should not be 
    used in place of medication prescribed for you by your doctor.
  </ion-card-content>

  <ion-card-subtitle>Contraindication</ion-card-subtitle>
  <ion-card-content>
    You should not use this product if you are allergic to glucosamine.
Ask a doctor, pharmacist, or other healthcare provider if it is safe for you to use this product if you have:
diabetes;
high cholesterol or triglycerides (a type of fat in the blood);
cancer;
liver disease;
asthma or other breathing disorder;
if you are allergic to shellfish; or
if you take a blood thinner (warfarin, Coumadin, Jantoven).
It is not known whether glucosamine will harm an unborn baby. Do not use this product without medical advice if you are pregnant.
  </ion-card-content>

  <ion-card-subtitle>Side effects</ion-card-subtitle>
  <ion-card-content>
    Get emergency medical help if you have any of these signs of an allergic reaction: hives; difficult breathing; swelling of your face, lips, tongue, or throat.
Common side effects of glucosamine may include:
nausea, vomiting;
diarrhea, constipation; or
heartburn.
  </ion-card-content>

</ion-card>
</ion-content>

