<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title>Search: G</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center">
    G
  </h2>
  <ion-list>
    <ion-item button>Gabapentin</ion-item>
    <ion-item button>Garamycin</ion-item>
    <ion-item button>Gaviscon</ion-item>
    <ion-item button>Gentamicin</ion-item>
    <ion-item button routerLink="/glucosamine">Glucosamine</ion-item>
    <ion-item button>Glutathione</ion-item>
    <ion-item button>Gocovri</ion-item>
    <ion-item button>Gralise</ion-item>
    <ion-item button>Griseofulvin</ion-item>
    <ion-item button>Guaifenesin</ion-item>
    <ion-item button>Guanfacine</ion-item>
  </ion-list>
</ion-content>
