<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search: A</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <h2>
    A
  </h2>
  <ion-list>
    <ion-item button>Abilify</ion-item>
    <ion-item button>Abiraterone</ion-item>
    <ion-item button>Acetaminophen</ion-item>
    <ion-item button>Acetylcysteine</ion-item>
    <ion-item button>Adderall</ion-item>
    <ion-item button>Advair</ion-item>
    <ion-item button>Advil</ion-item>
    <ion-item button>Afinitor</ion-item>
    <ion-item button>Albuterol</ion-item>
    <ion-item button>Allopurinol</ion-item>
    <ion-item button>Amlodipine</ion-item>
  </ion-list>
</ion-content>
